body{
    margin: 0px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/** DIV STYLING **/

.navbar{
    height: 100px;
    border-bottom: thick black solid;
}

#logotype{
    float: left;
    font-weight: bold;
    font-size: 250%;
    padding-left: 50px; padding-top:25px;
}

#navlinks_container{
    float:right;
    padding-right: 50px; padding-top: 40px;
    text-transform: uppercase;
}

#navlinks_container a{
    text-decoration: none;
    color: #1e1e1e;
    padding-left: 25px; padding-right:25px;
}

.hero_image{
    height:700px;
    background-color: #EBEBEB;
}

#header_text{
    padding-top: 200px;
    padding-left:150px;
    max-width: 600px;
}

#header_text h1{
    font-size: 350%;
    margin-top: 5px; margin-bottom: 5px;
}

#header_text h2{
    font-size: 225%;
    margin-bottom: 0px;
}

/** END DIV STYLING **/
